.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.with-margin {
    margin: 5px 1px;
}
.with-border {
    border: 1px groove black;
}

.full-height {
    height: 650px;
}

.fill-height {
    height: 80%;
}

.table-responsive td,
.table-responsive th
{
     padding: 10px 10px;
     border: 1px solid black;
}

.dataTable
{
    height:200px;
    overflow-y: scroll;
    padding: 10px 10px;
    border: 1px solid black;
}

.dataTable th,
.dataTable td
{
    padding: 5px 5px;
    //border: 1px solid black;
}

.chart-selector-button
{
    margin: 0px 50px 0px 0px;
    width: 120px;
}

.spaced-vertical
{
    //border: 1px solid black;
}

.spaced-vertical label,
{
    margin: 5px 10px 5px 0px;
    width: 100px;
}

.spaced-vertical input
{
    margin: 5px 0px 5px 0px;
}

